<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3 class="page-title">Product details</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-5 col-sm-offset-1">
            <form class="form-horizontal product-form" role="form">
                <div class="form-group">
                    <label for="id" class="col-sm-2 control-label">ID</label>
                    <div class="col-sm-10">
                        <input type="text" name="id" class="form-control" value="{{products.id}}" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                        <input type="text" name="name" class="form-control" value="{{products.name}}" >
                    </div>
                </div>
                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">Box</label>
                    <div class="col-sm-10">
                        <a href="#/box/{{products.box.id}}">{{products.box.name}}</a>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary save">Save</button>
            </form>
        </div>
        <div class="col-xs-12 col-sm-4 col-sm-offset-1 widget-area"></div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
            <h4>Images</h4>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Added</th>
                        <th>URL</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each pictures}}
                        <tr>
                            <td>{{added_date}}</td>
                            <td><a href="#" rel="{{url}}" class="modal-trigger">{{url}}</a></td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
            <button class="btn btn-primary" id="add-picture-button">Add Picture</button>
        </div>
    </div>
</div>

<!-- Modals -->

<div class="modal fade picture-modal"  tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
    	<img src="">
    </div>
  </div>
</div>
<div class="modal fade new-picture-modal" id="add-picture-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
    	<h2>Add Picture</h2>
    	<form class="form-horizontal new-picture-form" role="form">
	        <div class="product-specific">
	            <div class="form-group">
	                <label for="url" class="col-sm-2 control-label">URL</label>
	                <div class="col-sm-10">
	                    <input type="text" name="url" class="form-control" placeholder="http://pictureurl.com" >
	                </div>
	            </div>
	        </div>
	        <button type="submit" class="btn btn-primary save">Save</button>
	    </form>
    </div>
  </div>
</div>

<!-- End of modals -->